*{
    font-family: 'Nunito Sans', sans-serif;
}
.blog-container { 
    padding-top: 1%;
    height: 67%;
    display: flex;
    gap: 2px;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
}

.blog-card { 
    height: 90%;
    width: 95%;
    padding: 1%;
    border: 1px;
    border-radius: 1%;
    box-shadow: 2%;
    font-family: 'Nunito Sans', sans-serif;

}