.chat-window{ 
    background-color: "#b7d4e059";
 width: 100%;
 display: block;
 padding: 5px;
 padding-top: 35px;
 overflow-y: scroll;
}

.chat-banner { 
    height: 120px;
    background-color: #F8F8FF;
    padding-top: 35px;
    margin-left: 2px;
    box-sizing: border-box;
    border-bottom: 2px #F5F5F5;
    box-shadow: 0px 2px 0px #F5F5F5;
    width: 90%;
    position: fixed;
    align-items: last baseline;
}

.chat-banner div { 
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 1px;
    box-shadow: 0px 1px 0px #4b8bab ; 
    background-color: #4b8bab;
    display: flex;
    width: 90%;
    position: fixed;
}

.closechat { 
    float: right;
    padding: 3px;
}
.chat-banner h3{ 
    color: black;
    padding-top: 45px;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
}
.chat-box{ 
    height: 400px; 
    width: 95%;
    margin-top: 111px;
    position: fixed;
    overflow-y: scroll;
}

.textbox{ 
    margin-top: 490px;
    position: fixed;
    width: 90%;
    display: flex;
}

.received{ 
    display: block;
}
.sent { 
    display: block;
}
.received-m { 
    border: 2px;
    background-color: #e7e7e7;
    display: block;
    border-radius: 5%;
    width: 30%;
    float: left;
    margin-top: 5%;

}

.sent-m { 
    border: 2px;
    background-color: #e7e7e7;
    display: block;
    width: 30%;
    border-radius: 2%;
    margin-right: 30%;
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-field { 
    width: 95%;
    margin-bottom: 5px;
}
.text-field input{ 
    width: 100%;
    background-color:#e7e7e7 ;
    margin-left: 2px;
    height: 30px ;
    padding-bottom: 10px;
    border:#e7e7e7 ;
    border-radius: 2%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #e7e7e7 ;
}