.chat-window{ 
    background-color: "#b7d4e059";
 width: 70%;
 display: block;
 padding: 5px;
 padding-top: 35px;
 overflow-y: scroll;
}

.chat-banner { 
    height: 95px;
    background-color: #e7e7e7;
    padding-top: 35px;
    margin-left: 2px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #979797;
    border: 1%;
    width: 70%;
    position: fixed;
    align-items: last baseline;
}
.chat-banner h3{ 
    color: black;
    padding-top: 30px;
    padding-left: 20px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.chat-box{ 
    height: 400px; 
    width: 95%;
    padding-top: 111px;
    position: fixed;
}

.textbox{ 
    margin-top: 490px;
    position: fixed;
    width: 80%;
    display: flex;
}

.text-field { 
    width: 70%;
}
.text-field input{ 
    width: 90%;
    background-color:#e7e7e7 ;
    margin-left: 2px;
    height: 30px ;
    border:#e7e7e7 ;
    border-radius: 2%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #e7e7e7 ;
}