.login-card { 
    width: 500px;
    height: 350px;
    margin-top: 123px;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 10% 0 0 30%;
    }

    .login-container { 
        padding-top: 50px;

        background-image: url("https://images7.alphacoders.com/370/370162.jpg") ; 
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

    }

.login-card h3{ 
    
    font-family: 'Poppins', sans-serif;
    color: #e6f0f4;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.login-card h2{ 
    font-family: 'Poppins', sans-serif;
    color: #e6f0f4;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 1px 0 10px;

}

.loginform { 
    font-family: 'Poppins', sans-serif;
    
}

.loginform input{ 
 height: 45px;
 width: 87%;
 border: none;
 outline:none;
 border-radius: 30px;
 padding: 0 0 0 45px;
 margin: 1px; 
 background-color: rgba(255, 255, 255 , 0.5) ; ;
}

.buttons { 
    padding: 3px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #e6f0f4;
    font-size: 30px;
}