*{
    margin: 0;
    padding: 0;
}
.head-main{
    height: 70px;
    background-color: #a9dcf0;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.head-lf{
  height: 100%;
  width: 10%;
  align-items: center;
  display: block;

}
.head-mid{
    width: 50%;
    margin: auto;
}
.head-mid ul{
    display: flex;
    justify-content: center;
}
.head-mid ul li{
   list-style: none;
   margin-left: 80px;
   margin-right: 80px;
}
.head-mid ul li a{
   text-decoration: none;
   font-size: 24px;
   width: 50px;
   color: black;
}

.head-rt{
    height: 100%;
    width: 10%;
    align-items: center;
    display: block;
}

.logo{ 
    position: relative;
    float: left;
    border-radius: 52%;
    height: 90% ;
    margin-left: 2%;
    margin-top: 2%;
}