*{
    margin: 0;
    padding: 0;
}
.head-main{
    height: 70px;
    background-color: #45b2de66;
}
.head-lf{

}
.head-mid{
    width: 50%;
    margin: auto;
}
.head-mid ul{
    display: flex;
    justify-content: center;
}
.head-mid ul li{
   list-style: none;
   margin-left: 80px;
   margin-right: 80px;
}
.head-mid ul li a{
   text-decoration: none;
   font-size: 24px;
   width: 50px;
   color: black;
}

.head-rt{
    position: absolute;
    right: 50px;
    top: 10px;
    color: black;
}