.experts-container { 
   display: block;
   height: 40%;
   width: 100% ;
   padding: 2%;
   background-color: #e6f0f4;
   font-family: 'Nunito Sans', sans-serif;
}
.expert-bar { 
 display: flex;
 margin-left: 20%;
 margin-right: 20%;
 margin-top: 10px;
 height: 220px;
 width: 70%;
 background-color:  #548fad;
 border: #e6f0f4;
 border: 1px;
 box-shadow: 10px;
 border-radius: 10%;
 font-family: 'Nunito Sans', sans-serif;

}

.expert-profile{ 
    display: block;
    margin: 1%;
    width: 30%;
    height: 90%;
}

.profile-img { 
    max-width: 90%;
    max-height: 90%;
    border-radius: 40%;
}
.textbox{ 
    margin: 1%;
    max-width: 70%;
    max-height: 90%;
    box-sizing: border-box;
    border: 1px;
    text-size-adjust: auto;
    padding: 1%;
    font-family: 'Nunito Sans', sans-serif;
}

.Buttons { 
    width: 10%;
    margin-top: 50%;
    align-self: center;
}
