.experts-container { 
   display: block;
   height: 40%;
   width: 100% ;
   padding: 2%;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 20px;
   background-color: #e7e7e7;
   
}
.card-container { 
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    padding: 2%;
    height: 500px;
}
.experts-container h5{
    font-size: 20px;
    width: 60%;
    margin: auto;
    margin-top: 70px;
}
.expert-card { 
    margin-left: 20px;
    margin-right: 20px;
}
expert-card p{ 
    font-size: 10px;
}

