.experts-container { 
   display: block;
   height: 40%;
   width: 100% ;
   padding: 2%;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 20px;
   background-color: #e7e7e7;
   
}
.experts-container h3{
    font-size: 25px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.expert-card { 
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    
    background-color: #e7e7e7;
}

